.codenames-tip-form {
  display: flex;
}

.codenames-tip-form__input {
  margin-right: 5px;
}

.codenames-tip-form__tip {
  width: 200px;
}

.codenames-tip-form__count {
  width: 70px;
}

.codenames-tip-form__button-wrapper {
  height: 60px;
  padding-top: 20px;
}

.codenames-tip-form__button {
  height: 40px;
  background-color: #25cd37;
}
